<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
          akka {                
            stdout-loglevel = DEBUG
            loglevel = DEBUG
            log-config-on-start = off
            
            loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]                              
            
            actor {
              debug {
                receive = on # log any received message
                autoreceive= on # log automatically received messages, e.g. PoisonPill
                lifecycle = on # log actor lifecycle changes
                fsm = off # log all LoggingFSMs for events, transitions and timers
                event-stream = on # log subscription changes for Akka.NET event stream
                unhandled = on # log unhandled messages sent to actors
              }
            }
          }
      ]]>
    </hocon>
  </akka>

  <runtime>

    <dependentAssembly>
      <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
    </dependentAssembly>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="4.3.0.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>